<form method="POST" class="upload-form " action="/api/drivers/{{this.id}}?_method=DELETE"
            enctype="multipart/form-data">
    <div class="col-md-6 ml-auto">
        <input type="submit"  class="btn" id="add-vehicle" value="Delete Driver" />
    </div>
</form>