<form method="POST" class="upload-form " action="/api/autos/{{this.id}}?_method=DELETE"
            enctype="multipart/form-data">
    <div class="col-md-6 ml-auto">
        <input type="submit"  class="btn" id="add-vehicle" value="Delete Vehicle" />
    </div>
</form>