<div class="col-md ml-auto">
    <form method="POST" class="upload-form " action="/api/autos/{{this.id}}?_method=DELETE"
        enctype="multipart/form-data">
        <button type="submit" id="delete" class="display-label  btn btn-danger far fa-trash-alt fa-lg"></button>
    </form>
</div>