{{!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////
      <!-- Modal For Adding a Driver--> --}}

<div class="modal fade" id="add-driver-modal" tabindex="-1" role="dialog" aria-labelledby="add-driver-modal-title"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content card-color">
            <div class="modal-header">
                <h1 class="modal-title" id="add-auto-modal-title">Add Driver</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <form method="POST" class="upload-form row" action="/api/drivers" enctype="multipart/form-data">
                            <div class="col-md-12 ml-auto justify-content-md-center ">
                                <label for="make" class="display-label">First Name:</label>
                                <input type="text" id="first_name" name="first_name" value="" required>
                                <label for="model" class="display-label">Last Name:</label>
                                <input type="text" id="last_name" name="last_name" value="" required>
                                <label for="year" class="display-label">Relation:</label>
                                <input type="text" id="relation" name="relation" value="" required>
                            </div>
                            <div class="image-btn col-md-12 ml-auto justify-content-md-center">
                                <label>Select your Profile Image:</label> <br>
                                <input type="file" name="image" />
                            </div>
                            <div class="row">
                                <div class="col-md-12 ml-auto float-right">
                                    <input type="submit" class="btn" id="add-driver" value="Add Driver">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="javascript/add-driver.js"></script>