* {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/images/auto-tracker-homepage.jpg); /* the main background image */
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  font-size: 20px;
  color: white;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.nav-item:hover {
  color: grey;
}

.nav-header:hover {
  color: inherit;
}

.navbar-toggler {
  width: 40px;
  height: 30px;
  background-color: white;
  border: none;
  opacity: 85%;
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
}

.card-form {
  color: white;
  display: block;
  justify-content: center;
  margin-top: 4rem;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
  background-color: rgb(65, 63, 63, 0.4) !important;
}

.card-color {
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(65, 63, 63) !important;
}

.display-label,
.modal-title {
  color: goldenrod;
  display: block;
}

.driver-label {
  color: goldenrod;
  display: flex;
  justify-content: center;
}

header,
.display-data,
#card-data {
  color: white;
  display: block;
}

.add-vehicle,
.add-driver {
  margin-top: 2rem;
  width: 25%;
}

.card-header h3 {
  color: white;
  text-align: center;
}

.input-group-prepend span {
  width: 50px;
  background-color: white;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.start-btn,
.login-btn {
  width: 100%;
}

#btn-color,
#add-driver,
#add-vehicle,
#save-vehicle {
  background-color: rgb(36, 36, 36);
  color: white;
}
#update-vehicle {
  background-color: rgb(36, 36, 36);
  color: goldenrod;
}

#btn-color:hover,
#add-driver:hover,
#add-vehicle:hover,
#save-vehicle:hover,
#update-vehicle:hover {
  background-color: grey;
}

.signup-btn {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.car-image,
.driver-image {
  width: 250px;
  height: auto;
}
.modal-car-image {
  width: 430px;
  height: auto;
}
.driver-image {
  width: 150px;
  height: auto;
}

.upload-form,
.image-btn,
#add-vehicle,
#add-driver {
  font-size: 1rem;
  color: goldenrod;
}

#update-form {
  margin-left: 6rem;
}

.image-btn,
#driver {
  margin: 5px;
  font-size: 1.2rem;
  padding: 1px;
}

/* ------------------------------------------------------------------------------------------------------*/
/* Define the medial query (for display recognition and responsiveness).  This will rearrange the display
   of the 'cards' containing the vehicle/driver details to fit the active screen size.  */
@media screen and (max-width: 768px) {
  body {
    background-size: contain;
    background-position: 80%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    font-size: 16px;
  }

  .card-header h2 {
    font-size: 25px;
  }
  .add-vehicle,
  .add-driver,
  .card {
    width: 100%;
  }
  .display-data {
    display: block;
  }
  .modal-car-image,
  .car-image {
    width: 200px;
    height: auto;
  }

  #update-form {
    margin-left: auto;
  }
}
