<header>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <h1>Driver Dashboard</h1>
        <a class="nav-item flex-sm-fill text-sm-center nav-link" href="/vehicle">Vehicle Dashboard</a>
        <a class="nav-item flex-sm-fill text-sm-center justify-content-end nav-link" href="#">Logout</a>
    </nav>
</header>
<div class="d-flex justify-content-md-center">
    <button class="btn btn-dark btn-lg btn-rounded btn-elegant w-25 add-vehicle">+ Add Driver</button>
</div>

<div class="container card-form">
    <div class="row d-flex justify-content-md-center h-100">
        <div class="col-sm-4 m-4 align-items-center card ">
            <div class="card-header">
                <H2>Driver 1</H2>
            </div>
            <div class="card-body">
                <img src="https://via.placeholder.com/150" alt="">
                <h4>Vehicle: content</h4>
                <h4>Relation: content</h4>
            </div>
        </div>
    </div>
</div>