<header>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <h1>AUTO TRACKER</h1>
        <a class="nav-item flex-sm-fill text-sm-center nav-link" href="#">Home</a>
        <a class="nav-item flex-sm-fill text-sm-center nav-link" href="/login">Login</a>
    </nav>
</header>
<div class="container card-form">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Welcome!</h3>
                <p>This is your personal automobile information tracking system. <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptatibus eveniet et voluptas
                    reprehenderit quae excepturi, suscipit itaque, perferendis laudantium tenetur earum provident
                    minus quam assumenda possimus minima dignissimos maxime.
                </p>
            </div>
            <div class="card-body">
                <button class="btn btn-dark btn-lg btn-rounded btn-elegant start-btn">Get Started</button>
            </div>
        </div>
    </div>
</div>