<header>
    <nav class="navbar navbar-expand-sm nav nav-pills flex-column flex-sm-row">
        <div class="container">
            <h1 class="nav-header nav-item navbar-brand " href="#">AUTO TRACKER</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav nav nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container card-form">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Welcome!</h3>
                <p>This is your personal automobile information tracking system. <br><br>
                    Track time dependent, vehicle specific information from a single application, available on any
                    web-enabled device.
                </p>
            </div>
            <div class="card-body">
                <button class="btn btn-dark btn-lg btn-rounded btn-elegant start-btn">Get Started</button>
            </div>
        </div>
    </div>
</div>